
/* Body Rules */
body {
    font-family: 'Freckle Face', cursive;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

/* Header Rules */
.spongebob-header {
    margin: auto;
    display: block;
    width: 75%;
    padding: 30px;
    opacity: .9;
}

.display-4 {
    font-size: 6em;
    opacity: .9;
    -webkit-text-stroke: 1px rgba(12,25,255);
}

.lead {
    font-size: 3.5em;
    padding: 10px;
    opacity: .9;
    -webkit-text-stroke: 1px rgba(12,25,255);
}

.display-4,
.lead {
    color: #fefe00;
    font-weight: 800;
}

.button-container {
    width: 25%;
    margin: auto;
    margin-top: 30px;
}

.btn-light {
    font-size: 1.5em;
    margin: 10px;
    color: rgba(12,25,255,.9);
    background-color: rgba(25,158,255,.8);
    border-color: rgba(20,126,255,.9);
}

.btn-light:hover {
    color: rgba(12,25,255,.9);
    background-color: rgba(254,254,0,.8);
    border-color: rgba(20,126,255,.9);
}

/* Card Rules */

.card {
    width: 80%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 40px;
    background-color: rgba(25,158,255,.8);
    border-color: rgba(20,126,204,.9);

}

#first-card {
    margin-top: 95px;
}

.card-header,
h2,
p {
    font-size: 40px;
    color: rgba(12,25,255,.9);
    border-color: rgba(20,126,255,.9);
}

.card-container {
    margin-top: 0;
}

.result {
    font-size: 60px;
    color: rgba(12,25,255,.9);
    margin-top: 25px;
}